* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F4F4F4;
}

.container-principal {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {
    background-color: white;
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    padding-top: 80px;
    width: 450px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.24);

}

.imagen img {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -90px;
    justify-self: center;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: #000000;

}

.desc p {
    color: #a09696;
    font-size: 25px;
}

.links a {
    font-weight: bold;

}

.boton {
    background-color: #2a7ac0;
    border-radius: 5px;
    border: none;
    padding: 13px;
    width: 100px;
    color: white;
    margin-top: 10px;
    margin: 15px;
}

