*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #ffffff;
    padding: 50px 40px;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: black;
}

.boton{
    background-color: #236FEB;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
}
.boton a{
    text-decoration: none;
    color: white;
}

.seccion1{
    background-color: #F4F8FE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.seccion1 h1{
    font-size: 70px;
}
.seccion1 p{
    font-size: 20px;
}

.imagen{
    margin: 5px;
}

.imagen img{
    border-radius: 40px;
}
.presentacion{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.boton a{
    color: white;
    text-decoration: none;
}
.links a{
    font-weight: bold;
    color: #206DEB;
    text-decoration: none;
    margin-left: 10px;
} 

.seccion2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    gap: 40px;
}


.cajas {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 30px;
    margin-right: 40px;
}


.caja {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    text-align: center;      
    max-width: 250px;        
}


.Caracteristicas h1 {
    text-align: center;
    margin-bottom: 40px;
}
.iconos{

    height: 100px;
    width: 100px;
}

.seccion3{
    padding: 30px;
}
.empezar{
    padding: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    background-color: #F4F8FE;
}

.footer{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F8FE;
}
.blue{
    color: blue;
}
.links-footer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.links-footer a{
    text-decoration: none;
    color: black;
}

